.contents
  .left-contents
    .left-content__header
      .left-content__header__user-name
        = current_user.name
      = link_to new_group_path, class: "left-content__header__new-group" do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user), class: "left-content__header__edit-user" do
        %i.fa.fa-cog
    .left-content__body
      .groups-list
        - current_user.groups.each do |group|
          = link_to "group_messages_path(group)" do
            .left-content__body__group
              .left-content__body__group__name
                = group.name
              .left-content__body__group__message
                メッセージ1
