.contents
  = render "shared/left_contents"
  .main-contents
    .main-content__header
      .main-content__header__group
        .main-content__header__group__name
          = @group.name
        = link_to "Edit", edit_group_path(@group), class: "main-content__header__group__edit-btn"
        .main-content__header__group__member-list
          Member:
          - @group.members.each do |member|
            %i= member.user.name
    .main-content__body
      .main-content__body__messages-list
        = render @messages
    .main-content__footer
      .form.main-content__footer-body
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main-content__footer-body__message', placeholder: 'type a message'
          .main-content__footer-body__image-file
            = f.label :image do
              = fa_icon 'picture-o', class: 'fa fa-image'
              = f.file_field :image, class: 'main-content__footer-body__image-file__image'
          = f.submit 'Send', class:'main-content__footer-body__submit'
